@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i';
body {
display: flex;
min-height: 100vh;
flex-direction: column;
}
.[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
     padding-left: 20px;
}
main {
flex: 1 0 auto;
}
@media only screen and (min-width: 960px) {
.flow-text {
    font-size: 0.88rem !important;
}
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    position: relative;
    padding-left: 23px;
    margin-right: 5px;
}
.dica-voo {
    margin-top: -50px;
}
body {
    font-family: Roboto !important;
}
.container {
    width: 98%;
}
.btn-flat{
    padding: 0rem 1rem;
}
.totais {
    padding-left: 1.6rem;
    font-weight: 700;
}
#sidenav-overlay {
    display: none !important;
}
#events .eventos {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
}
.valign-demo {
    height: 768px;
    background-color: #ffffff;
    color: black;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    white-space: nowrap;
}
.side-nav a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: 35px;
    line-height: 50px;
    padding: 0 8px;
}
.dir a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: 50px;
    line-height: 50px;
}
.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    min-height: 156px;
}
.email {
    font-size: 81.25%;
}
nav {
    color: #000;
    background-color: #fbc02d;
    width: 100%;
    height: 76px;
    line-height: 56px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #ffffff;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
}
#flight-card .card-content-bg {
    background: url("../../assets/img/sample-1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ul.side-nav.leftside-navigation li.active>a {
    color: #fbc02d;
}
.margin {
    margin-top: -10px;
}
.erro {
    font-size: 6rem !important;
    font-weight: 100 !important;
}
.login-form-text2 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #c9c9c9;
}
.pagination li.active {
    background-color: #ff4081;
}
.btn {
    background-color: #444444;
    color: white !important;
}
.btn:hover,
.btn-large:hover {
    background-color: #ff4081;
}
.collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0;
}
.collapsible-header i {
    width: 2rem;
    font-size: 1rem;
}
.lido {
    font-weight: 300;
}
.nao-lido {
    font-weight: 900;
}
.progress {
    display: none;
}
.progress {
    position: fixed;
    top: -8px;
    left: 0;
    z-index: 999;
    height: 5px;
    width: 100%;
    background-color: #8BC34A;
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}
.progress .indeterminate {
    background-color: #E91E63;
}
.progresss {
    position: relative;
    height: 5px;
    background-color:darkgray;
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}
.progresss .determinate {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #8BC34A;
    transition: width .3s linear;
}
.progresss .indeterminate {
    background-color:chartreuse;
}
.container .row {
    margin-left: 0rem;
    margin-right: 0rem;
}
[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: #fbc02d;
    z-index: 0;
}
[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid #444444;
}
.dtp div.dtp-date,
.dtp div.dtp-time {
    background: #fbc02d !important;
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #FFA000 !important;
}
.dtp table.dtp-picker-days tr > td > a.selected {
    background: #fbc02d !important;
}
label {
    font-weight: 300;
}
.modal h1,
.modal h2,
.modal h3,
.modal h4 {
    margin-top: 7px;
    margin-left: 7px;
}
.modal {
    max-height: 80%;
    width: 70%;
}
.modal2 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}
.z-depth-4,
.modal2 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

/** estilo da lista de usuarios **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#users_online {
    position: relative;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    border-left: 1px solid #999;
}
#users_online ul li {
    float: left;
    width: 100%;
    border: 1px solid transparent;
    padding: 5px;
    border-right: 0;
    position: relative;
}
#users_online ul li a {
    float: left;
    width: 70%;
    margin-left: 10px;
    line-height: 33px;
    font-weight: 300;
    font-size: smaller;
}
.imgSmall {
    float: left;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}
.imgSmall img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

/** Aside dos chats **/

#chats {
    position: absolute;
    bottom: 0;
    height: 50px;
}

/** janelas **/

.window {
    float: left;
    width: 270px;
    margin-left: 5px;
    height: auto;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 999;
}
.window .header_window {
    float: left;
    background: #fbc02d;
    padding: 5px;
    width: 270px;
    position: relative;
    cursor: pointer;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
}
.window .header_window .close {
    text-decoration: none;
    float: left;
    color: white;
    font: 16px;
    padding: 0 10px 0 0;
}
.window .header_window .name {
    float: left;
    font: 16px;
    color: white;
    text-shadow: 1px 1px 1px #444;
}
.window .body {
    float: left;
    width: 100%;
    
}
.window .body .mensagens {
    float: left;
    width: 100%;
    background: #ffffff;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    height: 230px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4px;
}
.window .body .send_message {
    float: left;
    width: 100%;
    position: relative;
}
.window .body .send_message input {
    float: left;
    width: 97%;
    padding: 3px;
    background: white;
    border: 1px solid #999;
    outline: none;
    /*margin-bottom: 0px;*/
}
.mensagens ul {
    float: left;
    width: 100%;
}
.mensagens ul li {
    float: left;
    width: 80%;
    background: #42a5f5;
    border: transparent;
    border-radius: 20px;
    position: relative;
    padding: 0 4px 4px 0;
    margin-bottom: 7px;
}
.mensagens ul li .imgSmall {
    position: absolute;
    width: 30px;
    height: 30px;
    
}
.mensagens {
    float: left;
    width: 100%;
}
.mensagens ul li p {
    font-size: 13px;
    color: #444;
    padding: 4px 4px 4px 37px;
    margin-bottom: 0;
}
.mensagens.eu ul li p {
    font-size: 13px;
    color: #444;
    padding: 4px 4px 4px 7px;
    margin-bottom: 0;
}
.mensagens ul li.eu {
    float: right;
    background: #f5f5f5;
    padding-left: 6px;
}
.mensagens::-webkit-scrollbar {
    width: 3px;
}
.mensagens::-webkit-scrollbar-track {
    background-color: #666;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
.mensagens::-webkit-scrollbar-thumb {
    background-color: #666;
}
.mensagens::-webkit-scrollbar-thumb:hover {
    background-color: #069;
}
.status {
    position: absolute;
    right: 8px;
    top: 41%;
    width: 6px;
    height: 6px;
    margin-top: -6px;
    border-radius: 50%;
    background: #666;
}
.status.off {
    background: #ccc;
}
.status.on {
    background: #090;
}
@media only screen and (min-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 76px;
        line-height: 76px;
    }
}
.rsvp {
    width: 219px;
    padding: 20px;
    margin-bottom: -144px;
}
.bg {
    background-image: url(../img/bg_obrigado.png);
    background-position: right;
    background-repeat: no-repeat;
    
}